{% extends 'base.html' %}
{% block title %}
질문 등록
{% endblock %}

{% block content %}
  <div class="container my-3" >
    <h3>질문 등록</h3>
      <p> 답변을 원하시는 질문을 등록해주세요.......</p>
    <form action="" method="post">
        {% csrf_token %}
<!--        {{ form.as_p }}-->
        {% include 'form_errors.html' %}
        <div class="form-group">
            <label for="subject">제 목</label>
            <input type="text" id="subject" name="subject" class="form-control"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">내 용</label>
            <textarea id="content" name="content" rows="5" cols="40"
                      class="form-control">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary">
    </form>
  </div>
{% endblock %}